body{
    background-color: rgb(230, 218, 218);
}
.box{
    width: 44%;
    height: 1500px;
    border: 3px solid  white;
    border-radius:  0.5cm;
    position: relative;
    left: 20rem;
    background-color: white;
    
}
img{
    border-radius: 0.5cm;
    margin: 3%;
}
p{
    color: rgb(192, 192, 192);
    font-family: unset;
}
.box1{
    width: 65%;
    height: 10%;
    background-color: rgb(253, 197, 215);
    border: 1px solid hidden;
    border-radius: 0.5cm;
 position: relative;
 left: 15%;
 bottom: 2%;
}
th,td,tr{
    border: 1px;
}